/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.vscode
trello.json
.phpunit.result.cache
001 omis v2.mp4
002 brighter-.mp4
003 bad queen.mp4
004 denzio.mp4
005 dtype.mp4
006 lil_ren.mp4
008 Project Beyond-.mp4
009 skeith.mp4
010 Cutedog-.mp4
011 Curro.mp4
012 Korshal Valent.mp4
stats