:root {
  --animashit-primary: #cd1817;
  --animashit-secondary: #f6e84e;
  --animashit-dark: #191c24;
}

.bg-animashit-primary{
  background-color: var(--animashit-primary) !important;
}
.bg-animashit-secondary{
  background-color: var(--animashit-secondary) !important;
}
.bg-animashit-dark{
  background-color: var(--animashit-dark) !important;
}

.text-animashit-primary{
  color: var(--animashit-primary) !important;
}
.text-animashit-secondary{
  color: var(--animashit-secondary) !important;
}
.text-animashit-dark{
  color: var(--animashit-dark) !important;
}

.table-animashit-primary{
  
}

.object-fit-fill{
  object-fit: fill;
}
.object-fit-contain{
  object-fit: contain;
}
.object-fit-cover{
  object-fit: cover;
}
.object-fit-none{
  object-fit: none;
}
.object-fit-scale-down{
  object-fit: scale-down;
}

.object-position-top{
  object-position: top;
}
.object-position-bottom{
  object-position: bottom;
}
.object-position-left{
  object-position: left;
}
.object-position-right{
  object-position: right;
}
.object-position-center{
  object-position: center;
}


.table thead th, .jsgrid .jsgrid-table thead th{
  color: #e4e4e5 !important;
}

.table td, .jsgrid .jsgrid-table td{
  color: #ffffff8f !important;
}

.form-control:focus option, .form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {
  border: 1px solid #000000;
  color: #000000;
}

.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
  border: 1px solid #2c2e33;
  height: calc(2.25rem + 2px);
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.6875rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  color: #777777;
}


.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text]:focus, .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number]:focus, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint {
  border: 1px solid #2c2e33;
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.6875rem;
  background-color: rgb(165, 165, 165);
  border-radius: 2px;
  color: #000000;
}

textarea.form-control{
  height: unset;
}