:root {
    --animashit-color-primary: #1f2029;
    --animashit-color-secondary: #eccc18;
    --animashit-color-warning: rgb(255, 242, 3);
    --animashit-color-danger: rgb(237, 66, 23);
    --animashit-color-orange: rgb(227, 166, 23);
    --animashit-color-muted: #cccccc;

    --animashit-color-primary-trans: rgba(31, 32, 41, 0.8);
    --animashit-color-secondary-trans: rgba(237, 205, 23, 0.8);
    --animashit-color-warning-trans: rgba(237, 226, 23, 0.8);
    --animashit-color-danger-trans: rgba(236, 66, 24, 0.8);
    --animashit-color-orange-trans: rgba(227, 166, 23, 0.8);
    --animashit-color-muted-trans: rgba(204, 204, 204, 0.8);
    
    --animashit-color-linear1: linear-gradient(119deg, rgba(237,224,74,1) 0%, rgba(245,240,244,1) 80%, rgba(233,234,236,1) 100%, rgba(3,4,6,1) 100%, rgba(1,2,4,1) 100%);;
    --animashit-color-linear2: linear-gradient(125deg, rgb(189 84 255) 0%, rgb(255 253 253) 100%);
}

body{
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(255, 238, 0);  */
    background: rgb(0, 0, 0);
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(255, 238, 0);
    border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

/* ::-webkit-scrollbar the scrollbar. */
/* ::-webkit-scrollbar-button the buttons on the scrollbar (arrows pointing upwards and downwards). */
/* ::-webkit-scrollbar-thumb the draggable scrolling handle. */
/* ::-webkit-scrollbar-track the track (progress bar) of the scrollbar. */
/* ::-webkit-scrollbar-track-piece the track (progress bar) NOT covered by the handle. */
/* ::-webkit-scrollbar-corner the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet. */
/* ::-webkit-resizer the draggable resizing handle that appears at the bottom corner of some elements. */


@font-face {
    font-family: "GraphikBold";
    src: url(../fonts/GraphikBold.otf);
}

@font-face {
    font-family: "GraphikRegular";
    src: url(../fonts/GraphikRegular.otf );
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf );
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf );
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}


@font-face {
    font-family: "DMSans-Bold-Italic";
    src: url(../fonts/dm-sans/DMSans-Bold-Italic.woff2);
}

@font-face {
    font-family: "DMSans-Bold";
    src: url(../fonts/dm-sans/DMSans-Bold.woff2);
}

@font-face {
    font-family: "DMSans-Regular-Italic";
    src: url(../fonts/dm-sans/DMSans-Regular-Italic.woff2);
}

@font-face {
    font-family: "DMSans-Regular";
    src: url(../fonts/dm-sans/DMSans-Regular.woff2);
}

@font-face {
    font-family: "IBMPlexMono-Bold";
    src: url(../fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2);
}

@font-face {
    font-family: "IBMPlexMono-Italic";
    src: url(../fonts/ibm-plex-mono/IBMPlexMono-Italic.woff2);
}

@font-face {
    font-family: "IBMPlexMono-Light";
    src: url(../fonts/ibm-plex-mono/IBMPlexMono-Light.woff2);
}

@font-face {
    font-family: "IBMPlexMono-Regular";
    src: url(../fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2);
}

@font-face {
    font-family: "SourceSerif4Variable-Italic";
    src: url(../fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2);
}

@font-face {
    font-family: "SourceSerif4Variable-Roman";
    src: url(../fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2);
}

@media screen and (min-width: 1970px) {
    .container-xxxl {
        width: 1960px !important;
    }
}

@media screen and (max-width: 501px) {
    .owlcarousel-main-container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .carousel-modal{
        position: relative !important;
    }
}

@media screen and (min-width: 401px) {
    .h-sm-100 {
        width: 100% !important;
    }
}

.text-justify {
    text-align: justify;
}

.ff-caveat {
    font-family: 'Caveat';
}

.ff-roboto {
    font-family: 'Roboto';
}

.ff-delicious-handrawn {
    font-family: 'Delicious Handrawn';
}

.ff-golos-text {
    font-family: 'Golos Text';
}

.ff-handlee {
    font-family: 'Handlee';
}

.ff-indie-flower {
    font-family: 'Indie Flower';
}

.ff-montserrat {
    font-family: 'Montserrat';
}

.ff-nanum-pen-script {
    font-family: 'Nanum Pen Script';
}

.ff-oswald {
    font-family: 'Oswald';
}

.ff-satisfy {
    font-family: 'Satisfy';
}

.ff-sriracha {
    font-family: 'Sriracha';
}

.ff-sue-ellen-francisco {
    font-family: 'Sue Ellen Francisco';
}

.ff-graphikbold {
    font-family: "GraphikBold";
}

.ff-graphikregular {
    font-family: "GraphikRegular";
}

.ff-poppins-bold {
    font-family: "Poppins-Bold";
}

.ff-poppins-medium {
    font-family: "Poppins-Medium";
}

.ff-poppins-regular {
    font-family: "Poppins-Regular";
}

.ff-dmsans-bold-italic {
    font-family: "DMSans-Bold-Italic";
}

.ff-dmsans-bold {
    font-family: "DMSans-Bold";
}

.ff-dmsans-regular-italic {
    font-family: "DMSans-Regular-Italic";
}

.ff-dmsans-regular {
    font-family: "DMSans-Regular";
}

.ff-ibmplexmono-bold {
    font-family: "IBMPlexMono-Bold";
}

.ff-ibmplexmono-italic {
    font-family: "IBMPlexMono-Italic";
}

.ff-ibmplexmono-light {
    font-family: "IBMPlexMono-Light";
}

.ff-ibmplexmono-regular {
    font-family: "IBMPlexMono-Regular";
}

.ff-sourceserif4variable-italic {
    font-family: "SourceSerif4Variable-Italic";
}

.ff-sourceserif4variable-roman {
    font-family: "SourceSerif4Variable-Roman";
}

.ff-caveat {
    font-family: 'Caveat', cursive;
}

.ff-delicious-handrawn {
    font-family: 'Delicious Handrawn', cursive;
}

.ff-golos-text{
 font-family: 'Golos Text',sans-serif;
}

.ff-handlee {
    font-family: 'Handlee', cursive;
}

.ff-indie-flower {
    font-family: 'Indie Flower', cursive;
}

.ff-montserrat{
 font-family: 'Montserrat',
sans-serif;
}

.ff-nanum-pen-script {
    font-family: 'Nanum Pen Script', cursive;
}

.ff-satisfy {
    font-family: 'Satisfy', cursive;
}

.ff-sriracha {
    font-family: 'Sriracha', cursive;
}

.ff-sue-ellen-francisco {
    font-family: 'Sue Ellen Francisco', cursive;
}

@media (min-width: 1970px) {
    .container-xxxl {
        max-width: 1960px;
    }
}

/****** Main Navbar ******/
header {
    /* background-image: linear-gradient(75deg, rgba(228, 213, 4, 1) 5px, rgba(68, 68, 68, 1) 80%); */
    /* border-bottom: 2px #e6c507d5 solid; */
}

.main-navbar {
    /* background-image: linear-gradient(75deg, rgba(228, 213, 4, 0.164) 5px, rgba(105, 105, 105, 0.9) 80%); */
    /* border-bottom: 2px #e6c507d5 solid; */
}

.main-navbar .nav-link {
    -webkit-text-stroke: #ffffff 0.5px;
    color: #000000;
    font-weight: bolder !important;
    /* letter-spacing: 2px; */
    text-shadow: 0px 5px 5px rgb(121, 121, 121);
    font-size: x-large !important;
}

.main-navbar .nav-link.active,
.main-navbar .nav-link:hover {
    -webkit-text-stroke: #000000 0.5px;
    color: #ffffff;
    font-weight: bolder !important;
    /* letter-spacing: 2px; */
    text-shadow: 0px 5px 5px rgb(105, 105, 105);
}

.main-navbar .overlay {
    background-image: linear-gradient(180deg, rgb(63, 209, 5) 0%);
}

/**** Card ***/
.anim-shadow {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EBF0F5;
    box-shadow: 2px 2px 15px 2px #7f8ba6a9;
}

.anim-border {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EBF0F5;
}

.anim-shadow-hover {
    cursor: pointer;
}

.anim-shadow-hover:hover {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EBF0F5;
    box-shadow: 2px 2px 15px 2px #7f8ba6a9;
}

.container-main {
    /* position: absolute; */
    position: relative;
    /* margin-top: calc(-100dh); */
    width: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    z-index: 999;
}

.video-container-block {
    position: relative;
    width: 100%;
    /* height: calc(100vh - 80px); */
    /* Set the height to 100% of the viewport height */
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    /* Set the height to 100% of the viewport height */
    /* overflow: hidden; */
}


.video-container>video {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-container .video-foreground iframe {
    position: absolute;
    width: 100%;
    height: 115vh;
    pointer-events: none;
    object-fit: cover;
    top: -60px;
    left: 0;
}


.video-container .video-foreground {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}


#sticky-navigation {
    position: fixed;
    top: 50%;
    /* Position the element 50% from the top of the viewport */
    right: 10px;
    /* Position the element 50% from the left of the viewport */
    transform: translate(-00%, -50%);
    /* Center the element vertically and horizontally */
    max-width: 150px;
    z-index: 999;
}

#sticky-navigation .list-group-item {
    margin-top: 10px;
    border-radius: 0;
    border: 0px;
}

.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    line-height: 73px;
    color: #000000;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
    mix-blend-mode: difference;
}

.size1 {
    font-size: 60px !important;
    line-height: 73px !important;
}

.size2 {
    font-size: 50px !important;
    line-height: 55px !important;
}

.size3 {
    font-size: 40px !important;
    line-height: 45px !important;
}

.size4 {
    font-size: 30px !important;
    line-height: 35px !important;
}

.size5 {
    font-size: 20px !important;
    line-height: 25px !important;
}

.size6 {
    font-size: 12px !important;
    line-height: 15px !important;
}

.size7 {
    font-size: 8px !important;
    line-height: 12px !important;
}

.zindex1 {
    z-index: 100;
}

.zindex2 {
    z-index: 200;
}

.zindex3 {
    z-index: 300;
}

.zindex4 {
    z-index: 400;
}

.zindex5 {
    z-index: 500;
}

.zindex6 {
    z-index: 600;
}

.zindex7 {
    z-index: 700;
}

.zindex8 {
    z-index: 800;
}

.zindex9 {
    z-index: 900;
}

.zindex10 {
    z-index: 1000;
}

.zindex11 {
    z-index: 1100;
}

.mt-nav {
    margin-top: 60px;
}

.carousel-indicators [data-bs-target] {
    /* border-radius: 50%; */
    max-width: 100px;
    max-height: 100px;
    list-style-type: none;
    text-indent: 0;
    min-width: 70px;
    height: auto;
}

.carousel-indicators [data-bs-target] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-avatar1 {
    width: 150px;
    height: 150px;
    object-fit: contain;
    padding: 5px;

}

@keyframes animecard2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }
}

.anime-card2 {
    margin: 35px 10px;
    transform: skewX(15deg);
    padding: 5px;
    background: #f1df00;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    opacity: 0.5;
}

.anime-card3 {
    margin: 35px 10px;
    padding: 5px;
    background: #000000;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}

.owl-item:has(~ .owl-item.active.center) .anime-card2 {
    transform: skewX(-15deg);
}

.anime-card2:hover {
    /* animation-name: pulse;
    animation-duration: 2s; */
    z-index: 10;
    opacity: 1;
}

.owl-item.active.center .anime-card2 {
    /* animation-name: pulse;
    animation-duration: 2s; */
    z-index: 10;
    transform: skewX(0deg);
}

.anime-card2 .card-body {
    display: none;
    ;
}

.owl-item.active.center .anime-card2 .card-body,
.anime-card2:hover .card-body {
    display: block;
    animation-name: fadeInUp;
    animation-duration: 1s;
    height: 50%;
    margin: 5px;
    top: unset;
}

.owl-item.active.center .anime-card2::before,
.anime-card2:hover::before {
    content: "";
    background: linear-gradient(0deg, #ffd904 0%, #ff0000 50%, #000000 100%);
    width: 200%;
    height: 200%;
    position: absolute;
    margin-left: -50%;
    margin-top: -50%;
    animation-name: animecard2;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;
    transform: skewX(15deg);
}

/* 
.anime-card2::after {
    content: "";
    background: linear-gradient(0deg, #000000, #ffe300);
    width: 100%;
    height: 100%;
    position: absolute;
    animation-name: animecard2;
    animation-duration: 5s;
    animation-timing-function: linear;
    /* animation-delay: 2s; *\/
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;
    transform: skewX(15deg);
} */

.anime-card2 .card-body,
.anime-card2>img {
    z-index: 2;
    background-color: #ffffff;
}

.anime-card1 {
    border-radius: 0%;
    background-color: #00000081;
}

.anime-card1 .card-header:first-child {
    border-radius: 0%;
}

.anime-card1 .nav-link {
    font-family: "GraphikRegular";
    color: #000000;
}

.anime-card1 .nav-link.active {
    background: #ffc107;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.card-package-price{

}

/******* start animecard 4 ****/

@keyframes animecard4 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }
}

.anime-card4 {
    margin: 35px 10px;
    transform: skewX(5deg);
    padding: 5px;
    background: #f1df00;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    opacity: 0.5;
}

.anime-card4 {
    margin: 35px 10px;
    padding: 5px;
    background: #000000;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}


.owl-item:has(~ .owl-item.active.center) .anime-card4 {
    transform: skewX(-5deg);
}

.anime-card4:hover {
    /* animation-name: pulse;
    animation-duration: 2s; */
    z-index: 10;
    opacity: 1;
}

.owl-item.active.center .anime-card4 {
    /* animation-name: pulse;
    animation-duration: 2s; */
    z-index: 10;
    transform: skewX(0deg);
}

.owl-item.active.center .anime-card4 .card-body,
.anime-card4:hover .card-body {
    display: block;
    animation-name: fadeInUp;
    animation-duration: 1s;
    height: 50%;
    margin: 5px;
    top: unset;
}

.owl-item.active.center .anime-card4::before,
.anime-card4:hover::before {
    content: "";
    background: linear-gradient(0deg, #ffd904 0%, #ff0000 50%, #000000 100%);
    width: 200%;
    height: 200%;
    position: absolute;
    margin-left: -50%;
    margin-top: -50%;
    animation-name: animecard4;
    animation-duration: 2s;
    animation-timing-function: linear;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-direction: normal;
    z-index: 1;
    transform: skewX(5deg);
}

.anime-card4 .card-body,
.anime-card4>img {
    z-index: 2;
    background-color: #ffffff;
}


/******* end animecard 4 ****/

.text-outline1 {
    text-shadow:
        -3px -3px 5px #000,
        /* Shadow atas kiri */
        3px -3px 5px #000,
        /* Shadow atas kanan */
        -3px 3px 5px #000,
        /* Shadow bawah kiri */
        3px 3px 5px #000;
    /* Shadow bawah kanan */
}

.text-outline2 {
    text-shadow:
        -3px -3px 5px #ffffff,
        /* Shadow atas kiri */
        3px -3px 5px #ffffff,
        /* Shadow atas kanan */
        -3px 3px 5px #ffffff,
        /* Shadow bawah kiri */
        3px 3px 5px #ffffff;
    /* Shadow bawah kanan */
}

.anime-bg-primary-trans1 {
    background-color: #00000083;
}

.anime-bg-primary-trans2 {
    background-color: #000000a6;
}

.anime-bg-primary-trans3 {
    background-color: #000000cb;
}

.anime-bg-primary-trans4 {
    background-color: #000000e7;
}

.anime-bg-primary-trans5 {
    background-color: #000000;
}

.anime-bg-secondary-trans1 {
    background-color: #fbff0083;
}

.anime-bg-secondary-trans2 {
    background-color: #fbff00ab;
}

.gig-title {
    font-family: "IBMPlexMono-Bold";
}

/*

Widget Component 

*/

/* .nav-gig-list .gig-items:hover .gig-excerpt{
    display: inline-block;
}
 */
/* 
.nav-gig-list .gig-items:hover{
    cursor: pointer;
    animation: bounceIn;
    animation: flipInX;
    animation-duration: 2s;
}
*/

.nav-gig-list .gig-items:hover,
.nav-gig-list .gig-items.active {
    background: var(--animashit-color-primary) !important;
}

.nav-gig-list .gig-items .gig-excerpt {
    display: none;
}

.nav-gig-list .gig-items .gig-title {
    font-size: 20px;
}

.nav-gig-list .gig-items:hover {
    cursor: pointer;
}

.flipster__nav__item--current .flipster__nav__child {
    display: none !important;
}

.flipster__nav {
    margin: 0 0 !important;
}

.flipster__nav__item.flipster__nav__item--category.flipster__nav__item--current {
    background-color: #ffc107 !important;
    border-radius: 0;
}

.flipster__nav__item.flipster__nav__item--category a {
    font-family: "DMSans-Regular";
    font-weight: bolder;
    color: #ffc107;
    text-decoration: none;
}

.flipster__nav__item.flipster__nav__item--category.flipster__nav__item--current a {
    color: #000000;
}

.portfolio-list {
    margin-top: -20%;
    padding: 20px;
}

.min-vh-100x {
    min-height: calc(100vh - 80px) !important;
}

/*** animation ****/
.animation-gradient1 {
    background: linear-gradient(332deg, #ff6800, #ffe300);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 4%
    }

    50% {
        background-position: 100% 97%
    }

    100% {
        background-position: 0% 4%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 4%
    }

    50% {
        background-position: 100% 97%
    }

    100% {
        background-position: 0% 4%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 4%
    }

    50% {
        background-position: 100% 97%
    }

    100% {
        background-position: 0% 4%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 4%
    }

    50% {
        background-position: 100% 97%
    }

    100% {
        background-position: 0% 4%
    }
}


.bg-animashit-primary {
    background-color: var(--animashit-color-primary);
}

.bg-animashit-secondary {
    background-color: var(--animashit-color-secondary);
}

.bg-animashit-warning {
    background-color: var(--animashit-color-warning);
}

.bg-animashit-danger {
    background-color: var(--animashit-color-danger);
}

.bg-animashit-orange {
    background-color: var(--animashit-color-orange);
}

.bg-animashit-mute {
    background-color: var(--animashit-color-mut);
}

.bg-animashit-primary-trans {
    background-color: var(--animashit-color-primary-trans);
}

.bg-animashit-secondary-trans {
    background-color: var(--animashit-color-secondary-trans);
}

.bg-animashit-warning-trans {
    background-color: var(--animashit-color-warning-trans);
}

.bg-animashit-danger-trans {
    background-color: var(--animashit-color-danger-trans);
}

.bg-animashit-orange-trans {
    background-color: var(--animashit-color-orange-trans);
}

.bg-animashit-muted-trans {
    background-color: var(--animashit-color-muted-trans);
}

.border-animashit-primary {
    border-color: var(--animashit-color-primary) !important;
}

.border-animashit-secondary {
    border-color: var(--animashit-color-secondary) !important;
}

.border-animashit-warning {
    border-color: var(--animashit-color-warning) !important;
}

.border-animashit-danger {
    border-color: var(--animashit-color-danger) !important;
}

.border-animashit-orange {
    border-color: var(--animashit-color-orange) !important;
}

.border-animashit-mute {
    border-color: var(--animashit-color-mut) !important;
}

.border-animashit-primary-trans {
    border-color: var(--animashit-color-primary-trans) !important;
}

.border-animashit-secondary-trans {
    border-color: var(--animashit-color-secondary-trans) !important;
}

.border-animashit-warning-trans {
    border-color: var(--animashit-color-warning-trans) !important;
}

.border-animashit-danger-trans {
    border-color: var(--animashit-color-danger-trans) !important;
}

.border-animashit-orange-trans {
    border-color: var(--animashit-color-orange-trans) !important;
}

.border-animashit-muted-trans {
    border-color: var(--animashit-color-muted-trans) !important;
}

.text-animashit-primary {
    color: var(--animashit-color-primary);
}

.text-animashit-secondary {
    color: var(--animashit-color-secondary);
}

.text-animashit-warning {
    color: var(--animashit-color-warning);
}

.text-animashit-danger {
    color: var(--animashit-color-danger);
}

.text-animashit-orange {
    color: var(--animashit-color-orange);
}

.text-animashit-mute {
    color: var(--animashit-color-mut);
}

.text-animashit-primary-trans {
    color: var(--animashit-color-primary-trans);
}

.text-animashit-secondary-trans {
    color: var(--animashit-color-secondary-trans);
}

.text-animashit-warning-trans {
    color: var(--animashit-color-warning-trans);
}

.text-animashit-danger-trans {
    color: var(--animashit-color-danger-trans);
}

.text-animashit-orange-trans {
    color: var(--animashit-color-orange-trans);
}

.text-animashit-muted-trans {
    color: var(--animashit-color-muted-trans);
}

.overlay-content {
    top: 0px;
    left: 0px;
    position: absolute;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
}

.overlay1 {
    opacity: 0.5;
    background-image: linear-gradient(125deg, rgb(255 0 0 / 40%) 0%, rgb(255 0 0 / 40%) 20%, rgb(80 5 147 / 40%) 40%, rgb(28 0 53 / 40%) 60%, rgb(28 0 53 / 40%) 80%, rgb(189 186 57 / 40%) 100%, rgb(189 186 57 / 40%) 120%);
}

.overlay2 {
    opacity: 0.5;
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41%, rgb(0, 0, 0) 50%, rgb(3, 3, 3) 61%, rgb(255, 255, 255) 80%, rgb(255, 255, 255) 80%);
}

.overlay3 {
    opacity: 1;
    background-image: var(--animashit-color-linear2);
    position: fixed;
    top: 0;
    bottom: 0px;
    z-index: 9999;
}

.navbar-collapse .overlay {
    background-image: linear-gradient(89deg, #54068f 0%, #791bb483 100%);
}



/**** Owl Carousel ***/

.owlcarousel-nav-container,
.owlcarousel-dot-container {
    position: fixed;
    width: 100%;
}

.owlcarousel-dot-container {
    width: 100%;
    display: block;
    z-index: 999999 !important;
    bottom: 20px;
    text-align: center;
}

.owlcarousel-nav-container.owl-nav.disabled,
.owl-nav.disabled,
.owlcarousel-dot-container.owl-dots.disabled,
.owl-dots.disabled {
    display: none;
}

.owl-prev,
.owl-next {
    background: var(--animashit-color-secondary);
    border-radius: 0;
    border: 1px var(--animashit-color-primary) solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 5px;
    margin: 0 3px;
}

.owl-dots {
    text-align: right;
}

.owlcarousel-dot-container.owl-dots {
    text-align: center !important;
}

.owl-dot {
    background: var(--animashit-color-secondary);
    border-radius: 0;
    border: 1px var(--animashit-color-primary) solid;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    margin: 0 3px;
}

.owl-dot.active {
    background-color: var(--animashit-color-primary);
}

.owlcarousel-nav-container.owl-nav .owl-prev,
.owlcarousel-nav-container.owl-nav .owl-next,
.owlcarousel-dot-container.owl-dots .owl-dot,
.owl-prev,
.owl-next,
.owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.owlcarousel-nav-container.owl-nav span,
.owlcarousel-nav-container.owl-nav span {
    cursor: pointer;
}

.owlcarousel-nav-container.owl-nav .owl-prev,
.owlcarousel-nav-container.owl-nav .owl-next {
    width: 50px;
    height: 150px;
    background-color: #000 !important;
    position: absolute;
    margin-top: -150px !important;
}
.owlcarousel-nav-container.owl-nav .owl-next {
    right: 0px;
}

.owl-carousel .owl-item {
    /* width: 100% !important; */
    height: 100% !important;
}

.owlcarousel-nav-container.owl-nav button.owl-next {
    float: right;
    background-color: #000 !important;
}

.owlcarousel-nav-container.owl-nav button.owl-prev,
.owlcarousel-nav-container.owl-nav button.owl-next,
.owlcarousel-dot-container.owl-dots .owl-dot {
    background: rgb(255, 196, 0);
    color: yellow;
    border: none;
    margin: 2px;
    font: inherit;
    padding: 3px 15px;
}

.owlcarousel-dot-container.owl-dots .owl-dot.active {
    background-color: #000000a6;
}

.owlcarousel-subtitle {
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease 0.2s;
    -o-transition: all 0.2s ease 0.2s;
    transition: all 0.2s ease 0.2s;
    opacity: 1;
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    margin-bottom: 18px;
    position: relative;
    mix-blend-mode: difference;

}

.owlcarousel-title {
    position: relative;
    font-size: 80px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 90px;
    margin-bottom: 42px;
    position: relative;
    top: 100px;
    opacity: 0;
    top: 0;
    -webkit-transition: all 0.4s ease 0.4s;
    -o-transition: all 0.4s ease 0.4s;
    transition: all 0.4s ease 0.4s;
    mix-blend-mode: difference;
    background-blend-mode: color-dodge;
    opacity: 1;
}

.footer-owlcarousel::before {
    content: "";
    width: 100vw;
    height: 100%;
    margin-top: 20px;
    position: absolute;
    background-color: var(--animashit-color-primary-trans);
}

.owlcarousel-subtitle strong,
.owlcarousel-title strong {
    color: #f36100;
}

.owlcarousel-group-title {
    margin-bottom: 0px;
    background-color: var(--animashit-color-orange-trans);
    display: inline-block;
    position: relative;
    padding: 5px;
    font-family: "Oswald";
    font-weight: bold;
    border: 5px var(--animashit-color-primary-trans) solid;
    cursor: pointer;
}

.owlcarousel-group-title:hover {
    background-color: var(--animashit-color-orange);
}

.owlcarousel-group-title::before {
    content: "";
    width: 50vw;
    position: absolute;
    background-color: var(--animashit-color-primary-trans);
    height: 5px;
    margin-top: 10px;
    margin-right: -5px;
    right: -50vw;
}

.owlcarousel-group-title::after {
    content: "";
    width: 50vw;
    position: absolute;
    background-color: var(--animashit-color-primary-trans);
    height: 5px;
    margin-top: 10px;
    margin-left: -5px;
    left: -50vw;
}

/* General Page */
.page-title {
    font-size: 40px !important;
    font-family: "Oswald";

}

.page-description {
    font-size: 22px;
    font-family: "Oswald";
    line-height: 24px;

}

.mix-blend-difference{
    mix-blend-mode: difference;
    color: rgb(255, 255, 255);
}

.text-stroke{
    -webkit-text-stroke: rgb(255, 255, 255) 1px;
}

.text-stroke-dark{
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
}

.text-shadow-light{
    text-shadow: var(--animashit-color-orange) 5px 5px;
}



/*** Our Schedule Page ***/
    .table-schedule {
        width: unset;
        box-sizing: border-box;
    }

    .table-schedule thead{
        background-color: transparent !important;
    }

    .table-schedule .schedule-date {
        width: 50px;
        min-width: 50px;
    }

    .table-schedule thead th{
        background-color: #ffffff;
    }

    .table-schedule .tr-gigs td{
        background-color: transparent;
    }

    .table-schedule .tr-tasks:nth-child(odd) td{
        background-color: var(--bs-light);
    }

    .table-schedule .tr-tasks:nth-child(even) td{
        background-color: var(--bs-white);
    }

    .table-schedule,.table-schedule tbody, .table-schedule tr, .table-schedule td, .table-schedule th{
        border: 1px red solid !important;
        border-width: 5px !important;
        border-color: #ffffff !important;
    }

    .card-schedule .nav .nav-link{
        border: none;
        color: var(--bs-dark)
    }
    .card-schedule .nav .nav-link:hover{

        background-color: var(--bs-dark);
        color: var(--bs-light)
    }

    .card-schedule .nav .nav-link.active{
        background-color: var(--bs-dark);
        color: var(--bs-light)
    }

    .card-portfolio,.card-artist{
        cursor:pointer;
    }
    .card-portfolio:hover,.card-artist:hover{
        animation: flipInY;
        animation-duration: 1s;
        animation-delay: 200ms;
    }

    .gig-container{
        margin-top: 100px !important;
        margin-bottom: 100px !important;
        display: none;
        position: absolute;
        min-height: 100vh;
        min-width: 100vw;
        top: 0px;
        left: 0px;
        overflow: auto hidden !important;
    }

    .gig-container.active{
        display: block !important;
    }

    .gig-container .card-img{
        min-height: 300px !important;
        /* display: none !important; */
    }

    .gig-container .owl-loaded .owl-item .card-img{
        /* display: block !important; */
    }

    .owlcarousel-gig-list .card-img{
        /* min-height: 200px !important; */
        max-height: 80px !important;
        object-fit: cover;
    }
    .our-artist-list .owl-item img{
        height: 350px !important;
        object-fit: cover !important;
        -object-fit: cover !important;
        object-position: top !important;
        -o-object-position: top !important;
    }
    .anime-modal .modal-dialog .modal-content{
        background-color: var(--dark);
        background-image: var(--animashit-color-linear1);
        color: var(--bs-dark);
    }
    .anime-modal .modal-header,.anime-modal .modal-footer{
        border: none;
    }
/*** END Our Schedule Page ***/